:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
    color: var(--white);
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 600px;
    width: max(25dvw, 320px);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--grey-800);
}

.profile-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 0.5rem;
}

.profile-img {
    max-width: 80px;
    height: auto;
    clip-path: circle(50%);
}

.profile-name {
    font-weight: 600;
    font-size: x-large;
}

.profile-address {
    color: var(--green);
    font-weight: 600;
    font-size: smaller;
}

.profile-desc {
    font-weight: 400;
    font-size: small;
}

.socmed-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.socmed-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    background-color: var(--grey-700);
    border-radius: 10px;
    height: 50px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.socmed-buttons:hover {
    color: var(--grey-800);
    font-weight: 700;
    background-color: var(--green);
}